/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* errors */
 #alert{
   color:red;
   margin: 0;
   margin-bottom: 10px;
 }
 .error_messages {
   color: red;
 }


/* Header */

.logo{
  float: left;
}
.logotext{
  text-decoration: none;
  color: #292f33;
}

header{
  height: 60px;
  background-color: rgba(255, 255, 255, 0.7)
}


/* Nav Bar*/
.nav-bar {
   overflow: hidden;

   padding: 0;
   margin: 0;

 }

 .nav_link{
   padding:0 10px;
   margin:0;
 }


 .nav-list li{
   font-size: 16px;
   display: inline-block;
   line-height: 60px;
 }

 .nav-list{
   float: right;
   padding:0 20px;
   margin:0;
 }


/* Hover effect */
.nav_link:hover{
  color: white;
  text-decoration: none;
}

.logotext:hover{
  text-decoration: none;
  color: #292f33;
}
