<%= form_for [@restaurant, @review] do |f| %>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment%>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "review-submit" %>
  </div>
<% end %>
